#butt{
    font-size: 20px;
    border-radius: 50%; 
    height: 170px; 
    width: 170px; 
    background-color: rgb(72, 127, 199); 
    border:none; 
    color:black;
    text-align: center; 
}
#pic{
    animation-delay: 7s;
    animation: fade 5s;
    position: relative;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#detail_text{
    text-align:left; margin-top:  50px;
    font-size: 25px;
}
#logo-google{
    padding: 10px 13px 10px 13px; 
    background-color:#dd4b39;
    color: white;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-twitter{
    padding: 10px 10px 10px 10px; 
    background-color: #55ACEE;
    color: white;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-insta{
    padding: 10px 11px 10px 11px; 
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-snap{
    padding: 10px 11px 10px 11px; 
    background-color: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 80px;
    text-decoration: none;
  }
  #logo-git{
    padding: 10px 11px 10px 11px; 
    background-color:#211F1F;
    color: white;
    border-radius: 50px;
    text-decoration: none;
  }
  @media only screen and (max-width: 1024px) {
    #butt{
        color: #000;
        height: 80px; 
        width: 80px; 
        font-size: 14px;
        }
    
    #pic{
            position: relative;
            height: 350px;
            width: 300px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    #project{
            font-size: 12px;
        }
    #detail_text{
            font-size: 15px;
        }
  }
 
.container{
    margin-top: 80px;
}


body {
    
    animation: color-me-in 5s; 
  }
  
  @keyframes color-me-in {
    0% {
        
    opacity: 0%;
      background: black;
    }

    100% {
        background: gray;
    }
}
 @keyframes fade {
    0% {
        
            width: 300px;
          background: black;
        }
    
        100% {
            background: gray;
        }
 }
 .progress-bar{
     width:100px;
 }