h1{
    color: blue;
    text-align: center;
    padding-top: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
    background-color: aqua;
}
#img_profile{
    border-radius: 10%;
    width: 25%;
    height: auto; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
#top_img{
  height: 600px;
  width: 100%;
  z-index: -1;
}
h5{
  position: relative;
  top:20px;
  left:50px;
  color:aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 30px;

}
h4{
    text-align: center;
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1000px;
    font-size: 100px;
}
.list-example{
    text-align: center;
}
ul{
    margin-left: 600px;
    margin-right: 30px;
}
#list-example a{
opacity: 70%;
text-align: center;
position: fixed;
left: 5px;
padding: 15px;
width: 100px;
font-size: 15px;
color: white;
border-radius: 5px 5px 5px 5px;
}


#profile {
  top: 20px;
  background-color: black;
}

#achie {
  top: 80px;
  background-color:black;
}

#projects {
  top: 140px;
  background-color: black;
}

#con {
  top: 200px;
  background-color: black;
}

#list-item-2{
  padding-top: 50px;
  font-size: 60px;
}
#list-item-1{
  margin-top: 50px;
  font-size: 60px;
  
}
hr.rounded {
  opacity: 40%;
  border-top: 3px solid #bbb;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
}
#detail_text{
  position: relative;
  padding-bottom: 50px;
  margin-top: 20px;
  left:px;
  text-align: center;
  margin-left: auto;
  margin-right: a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson;
  }
  .checked {
    color: orange;
  }
.padding{
  position: relative;
  left: 800px;
} 
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 
}
td{
  padding: 15px 0;
  margin-right: 20px;
}

.detail_head{
  left:2px;
  top: auto;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  font-size:2.5rem;

}

